/* assets/css/fonts.css */
@font-face {
  font-family: 'Velvetine';
  src: url('../fonts/Velvelyne-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Velvetine';
  src: url('../fonts/Velvelyne-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
